name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    name: Build and Deploy Job

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: "20.19.0"

      - name: Install dependencies
        working-directory: ./frontend
        run: npm install

      - name: Build Angular app
        working-directory: ./frontend
        run: npm run build -- --configuration=production

      - name: Debug dist folder
        run: ls -R ./frontend/dist

      - name: Deploy to Azure Static Web Apps
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_LEMON_SMOKE_0C9095B1E }}
          action: "upload"
          app_location: "./frontend/dist/frontend/browser"
          config_file_location: "./frontend/staticwebapp.config.json"
          skip_app_build: true
