name: Build and deploy Angular app to Azure Web App - coordina-frontend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Install Angular dependencies
        working-directory: ./frontend
        run: npm install

      - name: Build Angular app
        working-directory: ./frontend
        run: npm run build --if-present

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: angular-app
          path: ./frontend/dist/frontend

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: angular-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_E0FFB58B6F854F72880215B238C31719 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_A6E92D88F54E4276BED54886C1AD9023 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_AF7459C53F1A4321A4BFA7D1F66E188F }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'coordina-frontend'
          slot-name: 'Production'
          package: angular-app

